node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
# Ignore compiled Java files
backend/target/

# Ignore real database credentials
backend/src/main/resources/application.properties

# Ignore local database files
*.db